<section class="bg-primary" id="awards">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Travel Awards</h2>
          </div>
      </div>
      <div class="row">
	       <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

      		<p>Thanks to the generous support from the Ontario Brain Institute, funding is available to award for a limited number of students and post docs with the most promising proposals for BrainHack.</p>
      		 <h4>Award values are set at $50 for GTA residents or $150 for those travelling to BrainHack from outsite the GTA.</h4>
      		 <p>To apply, email a one-page Brainhack project proposal and CV to <a href="mailto:erin.w.dickie@gmail.com">erin.w.dickie@gmail.com</a>.</p>
      		 <p>The organizing committee will determine the winners based on the merits of the submitted materials, as well as geographical, expertise. The winners will be encouraged to develop their project during the hackathon, notably using the <a href="https://brainhack.slack.com" target="_blank">brainhack slack</a> ahead of the event.</p>
      		 <h4>Award Applications are due Monday Feb 20, 2017</h4>
              	 <p>Awards will be announced by email before BrainHack.</p>
	     </div>
      </div>
</div>
</section>
