<section  id="schedule">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2 class="text-primary">Schedule</h2>
          </div>
      </div>
      <div class="row">
          <div class="text-center">
             <div class="responsive-iframe-container">
              <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&mode=WEEK&dates=20170302%2F20170305&height=500&wkst=2&bgcolor=%23FFFFFF&src=ge9tmicimqubkeqggl3rt6fn3s%40group.calendar.google.com&color=%232952A3&ctz=Europe%2FLondon" style="border-width:0" width="1000" height="500"></iframe>
            </div>
          </div>
      </div>
    </div>
  </section>
