<section  id="schedule">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2 class="text-primary">Schedule</h2>
          </div>
      </div>
      <div class="row">
          <div class="text-center">
             <div class="responsive-iframe-container">
              <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;dates=20180425%2F20180426&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=56kkprp6thldfe0g9a83dfjgr8%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=Europe%2FParis" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
      </div>
    </div>
  </section>
