  
  <div class="row">
  <h3>Schedule</h3>
          <div class="text-center">
            <div class="responsive-iframe-container">
              <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;dates=20160626%2F20160630&amp;height=500&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=7ahr4fa5ts4684mj1q191d17p0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Switzerland%2FCentral_European_Time" style="border-width:0" width="1000" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
    </div>
