<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="section-heading">What?</h2>
                <hr class="light">
               <p class="text-faded">Brainhack is a global conference bringing together researchers from multiple
                   disciplines to work together on innovative projects related to neuroscience.
                <b>Brainhack Rennes</b> will feature presentations from key researchers in our community as well
                   as video links to the global community. Visit <a href="http://www.brainhack.org/global2018">
                   BrainHack Global 2018</a> to learn more about events worldwide.</p>
            </div>
            <div class="col-sm-4">
              <h2 class="section-heading">Who?</h2>
              <hr class="light text-faded">
              <ul>
                <li>Camille Maumet (Organizer), Rennes</li>
                <li>Claire Cury (Organizer), Rennes</li>
                <li>Julie Coloigner (Organizer), Rennes</li>
                <li>Mathis Fleury (Organizer), Rennes</li>
                <li>Olivier Commowick (Organizer), Rennes</li> 
                </ul>
            </div>
            <div class="col-sm-4">
                <h2 class="section-heading">Where?</h2>
                <hr class="light text-faded">
                <p>The conference will be held in Rennes, at <a href="https://www.inria.fr/en/centre/rennes">INRIA Rennes-Bretagne-Atlantique</a> / IRISA, on the university campus (called “Campus de Beaulieu”), in the east of Rennes.</p>

                To reach Inria from the city center, you can
                <ul>
                  <li>walk (about 30 minutes),</li>
                  <li>take a bus (more information: <a href="http://www.star.fr/">Star</a> – public transportation service – only in French) or</li>
                  <li>rent a bike (more information: <a href="https://www.levelostar.fr/fr/pages-independantes/mode-demploi-le-velo-star-en-anglais.html">Velo Star</a>).</li>
                </ul>
                
                <p>This map explains how to reach INRIA from the bus Station “Tournebride” : 
                <a href="https://www.google.com/maps/d/viewer?mid=1-1-2KkYKb1QQYv394JRzyG6n1Pc&ll=48.115363517200656%2C-1.6381644999999025&z=17">Map from bus stop</a></p>

                <p>More information <a href="https://www.inria.fr/en/centre/rennes/overview/practical-info">here</a>.</p>
                <address>
                  <strong>IRISA/Inria Rennes</strong><br/>
                  Campus de Beaulieu<br/>
                  35000 Rennes, France
                </address>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.6811687409368!2d-1.6418983841562476!3d48.11638586061531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480edee5a599f107%3A0x318da7854b094389!2sInria+Rennes+-+Bretagne+Atlantique!5e0!3m2!1sfr!2sfr!4v1518600030002" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
        </div>
        <div class="row">
              <hr class="light">
              <p><a href="mailto:brainhack@inria.fr" class="btn btn-default btn-xl">Pre-registration is opened!</a> A registration form will soon be online, meanwhile do not hesitate to pre-register by sending us an email.</p>
        </div>
    </div>
</section>
