<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who we are:</h2>
                <hr class="light">
                <p class="text-faded">A volunteer group of scientists, trainees (students, postdocs), administration and staff that are concerned with computing issues faced by CAMH researchers. We meet every Tuesday, 11am - 12pm, in CS 163.</p>
                <p class="text-faded">Here's the issue: most science done today requires computing in some form, from spreadsheets to High Performance Computing, but most scientists don't have any formal computer science training. This is a big problem, because software is your experimental apparatus. Just like cleaning test tubes and pipetting, computing is a basic skill you need to be competent with. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
