<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="section-heading">What?</h2>
                <hr class="light">
                  <p class="text-faded">Brainhack is a global conference bringing together researchers from multiple disciplines to work together on innovative projects related to neuroscience.
                <b>Brainhack Warwick</b> will feature presentations from key researchers in our community as well as video links to the global community. Visit <a href="http://events.brainhack.org/global2017">BrainHack Global 2017</a> to learn more about events worldwide.</p>
            </div>
            <div class="col-sm-4">
              <h2 class="section-heading">Who?</h2>
              <hr class="light text-faded">
              <ul>
                <li>Fidel Alfaro Almagro, University of Oxford</li>
                <li>Guillaume Flandin, UCL</li>
                <li>Paul McCarthy, University of Oxford</li>
                <li>Cyril Pernet, University of Edinburgh</li>
                <li>Camille Maumet (Organizer), University of Warwick</li>
                <li>Tom Nichols (Organizer), University of Warwick</li>
                <li>Simon Schwab (Organizer), University of Warwick</li> 
                </ul>
            </div>
               <div class="col-sm-4">
                <h2 class="section-heading">Where?</h2>
                <hr class="light text-faded">
                <address>
                  <strong>Scarman (Warwick Conferences)</strong><br/>
                  University of Warwick<br/>
                  Gibbet Hill Road<br/>
                  CV4 7AL, Coventry, UK
                <iframe width="300" height="300" frameborder="0" style="border:0" src="https://www.google.co.uk/maps/place/Scarman+(Warwick+Conferences)/@52.3828985,-1.5668036,17.25z/data=!4m5!3m4!1s0x0:0xa85985e588407923!8m2!3d52.3827051!4d-1.5670102?hl=en" allowfullscreen></iframe>
                </address>
             </div>
        </div>
        <div class="row">
              <hr class="light">
              <a href="mailto:brainhack2017-warwick@googlegroups.com" class="btn btn-default btn-xl">Register Now!</a>
        </div>
</section>
