<section class="bg-primary" id="more">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Code of Conduct</h2>
          </div>
      </div>
      <div class="row">
	       <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

          <p>Brainhack is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.
          </p>
          <p>
            Harassment includes, but is not limited to:
          </p>
          <p>
            <ul>
              <li> Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion.</li>
              <li> Sexual images in public spaces</li>
              <li> Deliberate intimidation, stalking, or following</li>
              <li> Harassing photography or recording</li>
              <li> Sustained disruption of talks or other events</li>
              <li> Inappropriate physical contact</li>
              <li> Unwelcome sexual attention</li>
              <li> Advocating for, or encouraging, any of the above behaviour</li>
            </ul>
          </p>
          <br/>

          <h2>Enforcement</h2>

          <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
          <p>Organizers and presenters are also subject to the anti-harassment policy. In particular, they should not use sexualized images, activities, or other material.</p>

          <p>If a participant engages in harassing behaviour, event organisers retain the right to take any actions to keep the event a welcoming environment for all participants. This includes warning the offender, expulsion from the conference with no refund or not being allowed to participate in future events.</p>

          <p>Event organisers may take action to redress anything designed to, or with the clear impact of, disrupting the event or making the environment hostile for any participants.</p>

          <p>We expect participants to follow these rules at all event venues and event-related social activities. We think people should follow these rules outside event activities too!</p>

          <br/>
          <h2>Reporting</h2>
          <p>If someone makes you or anyone else feel unsafe or unwelcome, please report it as soon as possible. There will be two email contacts for reporting. Harassment and other code of conduct violations reduce the value of our event for everyone. We want you to be happy at our event. People like you make our event a better place.</p>
          <p>You can make a report either with your personal email or using an anonymous email.</p>
        </div>
      </div>
  </div>
  </div>

	     </div>
      </div>
</div>
</section>
