<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Brainhack Rennes</h1>
            <h3></h3>
            <h3>April 25-26, 2018</h3>
            <strike><h4>May 2-6</h4></strike>
            <h3>An early event of <a href="http://www.brainhack.org/global2018/">BrainHack Global</a></h3>
            <hr/>
            <h3><a href="https://brainhack-slack-invite.herokuapp.com/">Join us on Slack</a></h3>
            <h4>#bhg18-rennes</h4>
            <hr/>
            <a href="http://gipco-adns.com/site/6635/inscription+registration-brainhack+rennes+2018-" class="btn btn-primary btn-xl page-scroll">Registration open</a><br><br>
            <a href="http://www.brainhack.org/global2018/projects.html" class="btn btn-primary btn-xl page-scroll">Submit a Project!</a>
        </div>
    </div>

</header>
