<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Brainhack Rennes</h1>
            <h3></h3>
            <h3>April 25-26, 2018</h3>
            <h3>Part of <a href="http://www.brainhack.org/global2018/">BrainHack Global</a></h3>
            <hr/>
            <h3><a href="https://brainhack.slack.com/messages/bhg18-rennes/">Join us on Slack</a></h3>
            <hr/>
            <a href="mailto:brainhack@inria.fr" class="btn btn-primary btn-xl page-scroll">Registration opening soon!</a><br><br>
            <a href="http://www.brainhack.org/global2018/projects.html" class="btn btn-primary btn-xl page-scroll">Submit a Project!</a>
            <p style="font-size:100%;text-align:right;"><i>Image credit: "Open Mind" by Christian Weidinger, Flickr</i></p>
        </div>
    </div>

</header>
