<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Brainhack Toronto</h1>
            <h3>Advances and Challenges in Neuroscience Data Integration <br/> (multi-centre, multimodal, & multi-species)</h3>
            <h3>March 2-5, 2017</h3>
            <hr/>
            <a href="https://brainhack.slack.com/messages/bhg17-toronto/search/toronto/">Join us on Slack</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Register Now!</a>
        </div>
    </div>
</header>
