<section class="bg-primary" id="ignite_speakers">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Keynote speakers</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <h4>Machine learning: applications, methods and challenges
            <!-- (<a href="slides/my_slides.pdf">Slides</a>)<br> -->
            <br/>
            <strong>Elisa Fromont</strong>, Univ Rennes, Inria, CNRS,  IRISA.
            </h4>
            <h4>Reproducible research — is it worth the effort, and how to ease it?
            <br>
            <strong>Rémi Gribonval</strong>, Univ Rennes, Inria, CNRS,  IRISA.
            </h4>
            <h4>EEG source localisations in epilepsy
            <br>
            <strong>Isabelle Merlet</strong>, INSERM LTSI, Univ Rennes.
            </h4>
            <h4>Towards a collective neuroscience
            <!-- (<a href="slides/my_slides.pdf">Slides</a>)<br> -->
            <br/>
            <strong>Roberto Toro</strong>, Institut Pasteur.
            </h4>
          </div>
      </div>
  </div>
</section>
