<section class="bg-primary" id="ignite_speakers">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Ignite Talks</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <!--h3>Thursday, March 2, 9:30 - 11:30</h3-->
            <h4><strong>How can study pre-registration benefit Neuroscience</strong><br>
                Pia Rotshtein, University of Birmingham.</h4>
              <h4><strong>UK Biobank Pipeline: Public release of the first 10,000 datasets</strong><br>
                Fidel Alfaro Almagro, University of Oxford.</h4>
              <h4><strong>Data sharing with SPM</strong><br>
                Guillaume Flandin, UCL.</h4>
              <h4><strong>FSLeyes and the FSL Python Ecosystem</strong><br>
                Paul McCarthy, University of Oxford.</h4>
              <h4><strong> Avoiding cognitive biases in experimental methods</strong><br>
                Cyril Pernet, University of Edinburgh.</h4>
          </div>
          <!--div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
              <h3>Friday, March 3, 9:30 - 11:30</h3>
              <h4><strong class="text-primary">A Continuous Integration System for Estimating Reliability and Reproducibility of Connectome Pipelines</strong> - Joshua Vogelstein, PhD, Assistant Professor, Department of Biomedical Engineering, Institute for Computational Medicine, and Data Intensive Engineering and Sciences, John Hopkins University, Baltimore, MD</h4>
          </div-->
      </div>
  </div>
</section>
