        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                    <br><h2 class="text-primary">Ignite Talks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                    <h3>Sunday, September 18, 10:00 - 12:30</h3>
                    <h4><strong class="text-primary">The Importance of Reproduciblity and Reliability for Connectomics Research</strong> - Michael Milham, MD, PhD, Director, Center for the Developing Brain, Child Mind Institute, New York, NY and Director, Center for Biomedical Imaging and Neuromodulation, Nathan Kline Institute, Orangeburg, NY</h4>
                    <h4><strong class="text-primary">Measuring Connectome Reproducibility and Reliability</strong> - Martin Lindquist, PhD, Professor, Department of Biostatistics, John Hopkins University, Baltimore, Maryland</h4>
                    <h4><strong class="text-primary">The Current State of Connectome Reproducibility and Reliability</strong> - Xinian Zuo, PhD, Distinguished Research Professor, Institute of Psychology, Chinese Academy of Science, Beijing, China</h4>
                    <h4><strong class="text-primary">Optimizing Processing and Analysis Pipelines for Reproducibility</strong> - Stephen Strother, PhD, Senior Scientist, Rotman Research Institute, Baycrest and Professor of Medical Biophysics, University of Toronto, Toronto, Ontario, Canada</h4>
                    <h4><strong class="text-primary">Open Science Resources for Studying Connectome Reproducibility and Reliability</strong> - R. Cameron Craddock, PhD, Director, Computational Neuroimaging Lab, Center for Biomedical Imaging and Neuromodulation, Nathan Kline Institute, Orangeburg, NY and Director of Imaging, Center for the Developing Brain, Child Mind Institute, New York, NY</h4>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                    <h3>Sunday, September 18, 13:30 - 14:00</h3>
                    <h4><strong class="text-primary">A Continuous Integration System for Estimating Reliability and Reproducibility of Connectome Pipelines</strong> - Joshua Vogelstein, PhD, Assistant Professor, Department of Biomedical Engineering, Institute for Computational Medicine, and Data Intensive Engineering and Sciences, John Hopkins University, Baltimore, MD</h4>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                    <h3>Monday, September 19, 13:15 - 13:45</h3>
                    <h4><strong class="text-primary">The NIMH's perspective on Reliability and Reproduciblity</strong> - Greg Farber, PhD, Director, Office of Technology Development and Coordination, US National Institute for Mental Health, Bethesda, MD, USA</h4>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
                    <h3>Tuesday, September 20, 15:00 - 15:30</h3>
                    <h4><strong class="text-primary">Where have we learned and where do we go from here?</strong> - Daniel S. Margulies, PhD, Research Group Leader, Neuroanatomy and Connectivity, Max Planck Institute for Human Cognitive and Brain Sciences, Leipzig, Germany</h4>
                </div>
        </div>
