<section class="bg-primary" id="info">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Further Information</h2>
          </div>
      </div>
      <div class="row">
	       <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
		    <p class="text-faded">Registration is now open for <b>Brainhack Warwick 2017</b>. This 2-day workshop
	            will be held <b>March 2nd-3rd</b> at the University of Warwick, Coventry, UK, and is part of
                    <a href="http://events.brainhack.org/global2017">BrainHack Global 2017</a>, where a constellation
                    of such events happen simultaneously around the globe. Brainhack events convenes researchers from a
                    myriad of disciplines to work together on projects related to neuroscience. Similar to hackathons in
                    the tech sector, much of the schedule is left open for attendees to work together on projects of
                    their choosing. We also include “unconference” sessions where talks are chosen by the attendees
                    based on their interests as they evolve throughout the meeting. Brainhacks are not “coding sprints”
                    or exclusive to programmers, but rather are open to brain scientists from all backgrounds.</p>
		       
		    <p class="text-faded"><b>Hacking:</b> The core of Brainhack is "pen hacking" essions during which attendees collaborate
		    together on projects of their choosing. Attendees who have specific project ideas or data that
                    they would like to explore are encouraged to submit their project below prior to the event. At
                    the opening of the Brainhack event, typically after the ice breaker, attendees pitch their ideas
	            and afterwards mingle with others to organize a project team. Teams work together throughout the
	            remainder of Brainhack and are given the opportunity to present their progress during the wrap-up
	            session at the end of the event.
		    </p>
		    
		    <p class="text-faded"><font size="3"><i>&ldquo;Hackathons based on collaboration, not competition&rdquo;</i></font></p>
		       
		    <p class="text-faded"><b>Unconference:</b> Sessions for attendees to present their research or other topics of current
	            interest. Immediately prior to these sessions, the agenda is determined on-site. Attendees who are
		    willing to present add their name to a sign-up sheet</p>
			    
                    <p class="text-faded">Working papers on the outcomes from Brainhack Warwick can appear in the Gigascience Brainhack
                    Thematic Series, and shorter project reports from the event are eligible for the annual Brainhack
                    Proceedings.</p>
		       
                    <p>Thanks to generous funding from the Wellcome Trust, registration is free, and includes
                    2 lunches, a conference dinner, all coffee breaks and parking. <b>To register, please email
                    us</b> with your name, affiliation, current position and area of expertise. Space is limited so please
	            only register if you are able to attend, we will confirm your place by return email</p>
	     </div>
      </div>
</div>
</section>
