<section>
  <div class="row">
    <h1 class="section-heading">Sponsors</h1>
  </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="http://www.braininstitute.ca/sites/default/files/obi_logo_4c_pos_biling.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="http://insite.camh.net/images/camh_BILINGUAL_purple_61400.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="https://cloud.githubusercontent.com/assets/13733654/18965745/6aea33da-864c-11e6-9753-57082ad830ba.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
