<section>
  <div class="row">
    <div class="container">
      <h1 class="section-heading">Sponsors</h1>
    </div>
  </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <a href="#" class="portfolio-box">
              <img src="http://www.braininstitute.ca/sites/default/files/obi_logo_4c_pos_biling.jpg" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-6">
          <a href="#" class="portfolio-box">
              <img src="http://insite.camh.net/images/camh_BILINGUAL_purple_61400.jpg" class="img-responsive" alt="">
          </a>
      </div>
    </div>
  </div>
</section>
