<section class="bg-primary" id="projects">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Current projects</h2><br />
          </div>
      </div>
      <div class="row">
	    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <table> 
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_asl_project.png" style="width:50%;" alt="ASL pipelines project" /> <br /> <br />
            <h3>Project title: Develop ASL processing pipeline using <a href="https://github.com/Inria-Visages/Anima-Public">Anima</a> to compute CBF maps</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: The goal is to build a complete pipeline for quantifying cerebral blood flow (and possibly other perfusion maps) from ASL and M0 images using Anima, an open source software for medical image processing. This software tool has been developed in C++ and in the open-source ITK sofware framework. The ASL images are processed using a series of steps: registrations, image substractions, masking, denoising... The project consists in combining these different stages of preprocessing using functions already available in Anima. <br />
            <strong style="font-size:1.2em">Contacts</strong>: <a href="mailto:julie[dot]coloigner[at]irisa[dot]fr">Julie Coloigner</a>, <a href="mailto:antoine[dot]legouhy[at]irisa[dot]fr">Antoine Legouhy</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_nipype_anima_project.png" style="width:50%;" alt="Nipype and Anima" /> <br /> <br />
            <h3>Project title: Develop interfaces and workflows for <a href="https://github.com/Inria-Visages/Anima-Public">Anima</a> in <a href="http://nipype.readthedocs.io/en/latest/">Nipype</a></h3> <br />
            <strong style="font-size:1.2em">Description</strong>: Nipype looks like a great framework to define small processing bricks and automatically assemble them to form pipelines. Other well known softwares like Nifty* or ANTS already have their interfaces. The idea of this project is to study how workflows and interfaces are made in Nipype through the example of creating some from the Anima open-source software. <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:olivier[dot]commowick[at]inria[dot]fr">Olivier Commowick</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_medinria_tutorial.png" style="width:50%;" alt="medInria tutorial" /> <br /> <br />
            <h3>Project title: An overview of <a href="http://med.inria.fr">medInria</a> plugins creation</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: medInria 3.0 was recently released and offers to developers who want to share their work a way to create plugins (either open source or not) so that they appear in medInria automatically. This micro-tutorial will concentrate on showing a few examples of plugins and what are the steps necessary to create them in medInria 3.0. <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:olivier[dot]commowick[at]inria[dot]fr">Olivier Commowick</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_eeg_project.png" style="width:50%;" alt="EEG project" /> <br /> <br />
            <h3>Project title: Acquiring and processing neurofeedback EEG data with MENSIA Modulo</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: We have a new 8 channels EEG cap from MENSIA Modulo, and we would like to see how it works in a first time. Then we want to acquire several neurofeedback, convert the data to a matlab formating, before processing the EEG signals and modelling the neurofeedback scores to improve the NF filtering. <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:claire[dot]cury[at]inria[dot]fr">Claire Cury</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_bids_fmri_project.png" style="width:50%;" alt="fMRI processing" /> <br /> <br />
            <h3>Project title: Develop a fully-python task-based fMRI processing pipeline</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: This project aims at processing a task-based fMRI dataset with Python tools only (Nipype, nistats, nilearn, nibabel etc...). The pipeline shall include the following steps: reading a BIDS format dataset, performing the pre-processing stages (slice timing, realignment, coregistration, normalisation), specifying design matrices (GLM 1st and 2nd level) and generating a results report. <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:quentin[dot]duche[at]inria[dot]fr">Quentin Duché</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_fmri.png" style="width:50%;" alt="fMRI general project" /> <br /> <br />
            <h3>Project title: Discuss fMRI processing methods and tools</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: What you always wanted to try and never find the time too, starting with for example denoising, modelling for task based fMRI, whole brain or ROI analysis, correction for multiple comparisons, DCM. <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:elise[dot]bannier[at]irisa[dot]fr">Elise Bannier</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_bids_shanoir.png" style="width:50%;" alt="BIDS shanoir" /> <br /> <br />
            <h3>Project title: BIDS importer/exporter for Shanoir</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: We will develop a new feature for the brain imaging database <a href="https://fairsharing.org/biodbcore-001058">Shanoir</a> to allow for import of datasets organised using the <a href="http://bids.neuroimaging.io/">Brain Imaging Data Structure (BIDS)</a>. We will use public datasets from <a href="https://openneuro.org">OpenfMRI</a> as test data. <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:michael[dot]kain[at]inria[dot]fr">Michael Kain</a> <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_eeg16_pong.png" style="width:50%;" alt="EEG pong" /> <br /> <br />
            <h3>Project title: Implementing a simple Brain-Computer Interface with the Emotiv portable EEG</h3> <br />
            <strong style="font-size:1.2em">Description</strong>: The goal of the project would be to investigate the capability of the Emotiv EPOC 16-channel portable EEG to design a BCI applications. We can start with a simple binary classification case and let's see where we finish ! <br />
            <strong style="font-size:1.2em">Contact</strong>: <a href="mailto:pierre[dot]maurel[at]inria[dot]fr">Pierre Maurel</a>
          </td>
        </tr>
      </table>
	    </div>
      </div>
  </div>
</section>
