<section class="bg-primary" id="projects">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Current projects</h2><br />
          </div>
      </div>
      <div class="row">
	    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <table> 
        <tr>
          <td style="font-size:1.1em;><img src="img/projects/brainhack_asl_project.png" style="width:400px;" alt="ASL pipelines project" /> <br /> <br />
            <h3>Project title: Develop ASL processing pipeline using <a href="https://github.com/Inria-Visages/Anima-Public">Anima</a> to compute CBF maps</h3> <br />
            <strong style="font-size:1.3em">Description</strong>: The goal is to build a complete pipeline for quantifying cerebral blood flow (and possibly other perfusion maps) from ASL and M0 images using Anima, an open source software for medical image processing. This software tool has been developed in C++ and in the open-source ITK sofware framework. The ASL images are processed using a series of steps: registrations, image substractions, masking, denoising... The project consists in combining these different stages of preprocessing using functions already available in Anima. <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_nipype_anima_project.png" style="width:400px;" alt="Nipype and Anima" /> <br /> <br />
            <h3>Project title: Develop interfaces and workflows for <a href="https://github.com/Inria-Visages/Anima-Public">Anima</a> in <a href="http://nipype.readthedocs.io/en/latest/">Nipype</a></h3> <br />
            <strong style="font-size:1.3em">Description</strong>: Nipype looks like a great framework to define small processing bricks and automatically assemble them to form pipelines. Other well known softwares like Nifty* or ANTS already have their interfaces. The idea of this project is to study how workflows and interfaces are made in Nipype through the example of creating some from the Anima open-source software. <br /> <br /> <br />
          </td>
        </tr>
        <tr>
          <td style="font-size:1.1em;"><img src="img/projects/brainhack_medinria_tutorial.png" style="width:400px;" alt="medInria tutorial" /> <br /> <br />
            <h3>Project title: An overview of <a href="http://med.inria.fr">medInria</a> plugins creation</h3> <br />
            <strong style="font-size:1.3em">Description</strong>: medInria 3.0 was recently released and offers to developers who want to share their work a way to create plugins (either open source or not) so that they appear in medInria automatically. This micro-tutorial will concentrate on showing a few examples of plugins and what are the steps necessary to create them in medInria 3.0.
          </td>
        </tr>
      </table>
	    </div>
      </div>
  </div>
</section>
