
<section id="sponsors">
    <div class="container-fluid">
	<h2 class="text-primary"><strong>Brainhack Toronto is generously supported by:</strong></h2>
      <div class="row">
        <div class="col-sm-4">
          <a href="http://www.braininstitute.ca/homepage" class="portfolio-box">
              <img src="http://www.braininstitute.ca/sites/default/files/obi_logo_4c_pos_biling.jpg" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="www.camh.ca" class="portfolio-box">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaw5mhEvbddIOOjFC-FzshyR__dviC0cjU8bM9imbRPAtPZ9BG" class="img-responsive" alt="CAMH">
          </a>
      </div>
    </div>
  </div>
</section>
