
<section id="sponsors">
    <div class="container-fluid">
	<h2 class="text-primary"><strong>Brainhack Warwick is generously supported by:</strong></h2>
        
	<div class="row">
		
           <div class="col-sm-6">
             <h2 class="text-primary"><strong>Brainhack Warwick is generously supported by:</strong></h2>
             <a href="https://wellcome.ac.uk" class="portfolio-box">
               <img src="img/wellcome-logo-black.png" class="img-responsive" alt="Wellcome">
             </a>
           </div>
           <div class="col-sm-6">
             <h2 class="text-primary"><strong>Brainhack Warwick is generously supported by:</strong></h2>
             <a href="https://wellcome.ac.uk" class="portfolio-box">
               <img src="img/wellcome-logo-black.png" class="img-responsive" alt="Wellcome">
             </a>
           </div>
		
        </div>
	    
    </div>
</section>
